@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Questrial', sans-serif;
  background-color: #d4e4e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  margin: 0;
}

h1 {
  color: #153ab5;
}


/* Kodā pievienoju ekrāna paltuma vērtību - width: 60%. 
   Pievienoju ekrāna apmales labo un kreiso apakšdaļas, noapaļojot stūrus par 20px. */
.screen {
  cursor: pointer;
  width: 60%;
  background-color: #2d4bd257 !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Pielāgoju progresa joslas platuma attiecību pret Video atskaņotāja ekrāna izmēriem, platumu - width: 60% samazināju līdz 30%  */

.controls {
  background: #2196f3;
  color: #170389;
  width: 30%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.controls .btn {
  border: 1;
  background: #00020a;
  cursor: pointer;
}

.controls .fa-play {
  color: #28a745;
}

.controls .fa-stop {
  color: #dc3545;
}

.controls .fa-pause {
  color: #fff;
}

.controls .timestamp {
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
}

.btn:focus {
  outline: 0;
}

@media (max-width: 800px) {
  .screen,
  .controls {
    width: 90%;
  }
}